//esquema de colore
//Primer esquema de color
$white: #FFF;
$platinum: #E6E7E7;
$light-gray: #D1D1D1;
//Segundo esquema de colores
$fuzzy-wuzzy: #E56353;
$ruddy-pink: #D76C69;
$spanish-pink: #ECBCBA;
//Tercer esquema de colores
$eerie-black: #121619;
$raisin-black: #222323;
$nickel: #6C6E70;
//Tipografia
$playfair: 'Playfair Display',
serif;
$roboto: 'Roboto',
sans-serif;
//Peso fuentes
$light: 300;
$regular: 400;
$black-italic: 900;
//Tamaños fuentes
$xx-large: 70px;
$x-large: 30px;
$large: 18px;
$medium: 16px;
$small: 12px;
$transition-text: 50px;