.header {
    background-image: url('../images/post-image.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 550px;
    padding-top: 6rem;
    position: relative;
}

//flechas del header formula para hacer animacion
//fin flecha
.contenedor_header {
    position: absolute;
    text-align: center;
}

@media (min-width: 992px) {
    .contenedor_header {
        left: 50%;
        transform: translateX(-50%);
        padding-left: 6rem;
        padding-top: 5rem;
    }
    .texto__header {
        font-weight: $medium;
        margin-top: 4rem;
    }
    .scroll-down {
        padding-top: 150px;
    }
}

@media (min-width: 768px) and (max-width: 991.98px) {
    .contenedor_header {
        left: 50%;
        transform: translateX(-55%);
        padding-left: 3rem;
    }
    .texto__header {
        font-size: $transition-text;
        margin-top: 6rem;
    }
    .scroll-down {
        padding-top: 170px;
    }
}

@media (min-width: 575.98px) and (max-width: 767.98px) {
    .contenedor_header {
        left: 50%;
        transform: translateX(-50%);
    }
    .texto__header {
        font-size: $x-large;
        margin-top: 6.5rem;
    }
    .scroll-down {
        padding-top: 210px;
    }
}

@media (min-width: 320px) and (max-width: 575.97px) {
    .contenedor_header {
        left: 50%;
        transform: translateX(-50%);
    }
    .texto__header {
        font-size: $x-large;
        padding: 6.5rem 1.2rem;
    }
    .scroll-down {
        padding-top: 115px;
    }
}