.description__title {
    font-size: $medium;
    padding-top: 3rem;
    padding-bottom: 3rem;
}

.description__title-text {
    font-weight: $light;
    line-height: 2.5;
}

span {
    color: $ruddy-pink;
}